In [1]:
import pandas as pd

pokemon = pd.read_csv("https://gist.githubusercontent.com/simsketch/1a029a8d7fca1e4c142cbfd043a68f19/raw/bd584ee6c307cc9fab5ba38916e98a85de9c2ba7/pokemon.csv", error_bad_lines=False)

b'Skipping line 1043: expected 22 fields, saw 29\nSkipping line 1044: expected 22 fields, saw 29\nSkipping line 1045: expected 22 fields, saw 29\nSkipping line 1046: expected 22 fields, saw 29\nSkipping line 1047: expected 22 fields, saw 30\nSkipping line 1048: expected 22 fields, saw 30\nSkipping line 1049: expected 22 fields, saw 30\n'

In [2]:
pokemon.head(5)

,NUMBER,CODE,SERIAL,NAME,TYPE1,TYPE2,COLOR,ABILITY1,ABILITY2,ABILITY HIDDEN,...,MEGA_EVOLUTION,HEIGHT,WEIGHT,HP,ATK,DEF,SP_ATK,SP_DEF,SPD,TOTAL
0,1,1,11,Bulbasaur,Grass,Poison,Green,Overgrow,NaN,Chrolophyll,...,0,0.7,6.9,45,49,49,65,65,45,318
1,2,1,21,Ivysaur,Grass,Poison,Green,Overgrow,NaN,Chrolophyll,...,0,1.0,13.0,60,62,63,80,80,60,405
2,3,1,31,Venusaur,Grass,Poison,Green,Overgrow,NaN,Chrolophyll,...,0,2.0,100.0,80,82,83,100,100,80,525
3,3,2,32,Mega Venusaur,Grass,Poison,Green,Thick Fat,NaN,NaN,...,1,2.4,155.5,80,100,123,122,120,80,625
4,4,1,41,Charmander,Fire,NaN,Red,Blaze,NaN,Solar Power,...,0,0.6,8.5,39,52,43,60,50,65,309

In [3]:
pokemon.isnull().sum()

NUMBER              0
CODE                0
SERIAL              0
NAME                0
TYPE1               0
TYPE2             490
COLOR               0
ABILITY1            0
ABILITY2          519
ABILITY HIDDEN    223
GENERATION          0
LEGENDARY           0
MEGA_EVOLUTION      0
HEIGHT              0
WEIGHT              0
HP                  0
ATK                 0
DEF                 0
SP_ATK              0
SP_DEF              0
SPD                 0
TOTAL               0
dtype: int64

In [4]:
#We then remove redundant and hard to deal with features.
features_to_remove = ['TYPE2', 'NUMBER', 'CODE', 'SERIAL', 'COLOR', 'ABILITY1', 'ABILITY2','ABILITY HIDDEN', 'MEGA_EVOLUTION', 'HEIGHT', 'WEIGHT', 'HP', 'SPD', 'TOTAL']

pokemon = pokemon.drop(features_to_remove, axis = 1)

In [5]:
pokemon.head(5)

            NAME  TYPE1  GENERATION  LEGENDARY  ATK  DEF  SP_ATK  SP_DEF
0      Bulbasaur  Grass           1          0   49   49      65      65
1        Ivysaur  Grass           1          0   62   63      80      80
2       Venusaur  Grass           1          0   82   83     100     100
3  Mega Venusaur  Grass           1          0  100  123     122     120
4     Charmander   Fire           1          0   52   43      60      50

In [6]:
pokemon.tail(5)

           NAME     TYPE1  GENERATION  LEGENDARY  ATK  DEF  SP_ATK  SP_DEF
1036  Eternatus    Poison           8          1   85   95     145      95
1037      Kubfu  Fighting           8          1   90   60      53      50
1038    Urshifu  Fighting           8          1  130  100      63      60
1039    Urshifu  Fighting           8          1  130  100      63      60
1040     Zarude      Dark           8          1  120  105      70      95

In [7]:
pokemon_stats = (pokemon['ATK'] - pokemon['DEF'])*0.8 + (pokemon['SP_ATK'] - pokemon['SP_DEF'])*0.2

In [8]:
pokemon_stats

0        0.0
1       -0.8
2       -0.8
3      -18.0
4        9.2
        ...
1036     2.0
1037    24.6
1038    24.6
1039    24.6
1040     7.0
Length: 1041, dtype: float64

In [9]:
pokemon_new = pd.concat([pokemon, pokemon_stats], axis=1)

In [10]:
pokemon_new

,NAME,TYPE1,GENERATION,LEGENDARY,ATK,DEF,SP_ATK,SP_DEF,0
0,Bulbasaur,Grass,1,0,49,49,65,65,0.0
1,Ivysaur,Grass,1,0,62,63,80,80,-0.8
2,Venusaur,Grass,1,0,82,83,100,100,-0.8
3,Mega Venusaur,Grass,1,0,100,123,122,120,-18.0
4,Charmander,Fire,1,0,52,43,60,50,9.2
...,...,...,...,...,...,...,...,...,...
1036,Eternatus,Poison,8,1,85,95,145,95,2.0
1037,Kubfu,Fighting,8,1,90,60,53,50,24.6
1038,Urshifu,Fighting,8,1,130,100,63,60,24.6
1039,Urshifu,Fighting,8,1,130,100,63,60,24.6
1040,Zarude,Dark,8,1,120,105,70,95,7.0

In [11]:
pokemon_new.columns = ['NAME','TYPE1', 'GENERATION', 'LEGENDARY', 'ATK', 'DEF','SP_ATK', 'SP_DEF', 'POKEMON_STATS']
pokemon_new

,NAME,TYPE1,GENERATION,LEGENDARY,ATK,DEF,SP_ATK,SP_DEF,POKEMON_STATS
0,Bulbasaur,Grass,1,0,49,49,65,65,0.0
1,Ivysaur,Grass,1,0,62,63,80,80,-0.8
2,Venusaur,Grass,1,0,82,83,100,100,-0.8
3,Mega Venusaur,Grass,1,0,100,123,122,120,-18.0
4,Charmander,Fire,1,0,52,43,60,50,9.2
...,...,...,...,...,...,...,...,...,...
1036,Eternatus,Poison,8,1,85,95,145,95,2.0
1037,Kubfu,Fighting,8,1,90,60,53,50,24.6
1038,Urshifu,Fighting,8,1,130,100,63,60,24.6
1039,Urshifu,Fighting,8,1,130,100,63,60,24.6
1040,Zarude,Dark,8,1,120,105,70,95,7.0

In [12]:
len(pokemon_new['NAME'].unique().tolist())

945

In [13]:
pokemon_strength = pokemon_new[['NAME','GENERATION', 'TYPE1','LEGENDARY','POKEMON_STATS']]

In [14]:
pokemon_strength.sort_values(by='POKEMON_STATS',ascending=True).iloc[:20,:]

             NAME  GENERATION    TYPE1  LEGENDARY  POKEMON_STATS
256       Shuckle           2      Bug          0         -220.0
488     Bastiodon           4     Rock          0         -111.0
928       Cosmoem           7  Psychic          1         -102.0
823       Carbink           6     Rock          0         -100.0
800     Aegislash           6    Steel          0         -100.0
125          Onix           1     Rock          0          -95.0
249       Steelix           2    Steel          0          -94.0
250  Mega Steelix           2    Steel          0          -92.0
462        Deoxys           3  Psychic          1          -90.0
446      Regirock           3     Rock          1          -90.0
885       Toxapex           7   Poison          0          -89.0
565     Probopass           4     Rock          0          -87.0
352      Nosepass           3     Rock          0          -81.0
666    Cofagrigus           5    Ghost          0          -78.0
908     Pyukumuku           7    Water          0          -76.0
362   Mega Aggron           3    Steel          0          -76.0
448     Registeel           3    Steel          1          -75.0
106  Mega Slowbro           1    Water          0          -74.0
946     Stakataka           7     Rock          1          -73.6
487      Shieldon           4     Rock          0          -70.0

In [15]:
pokemon_strength.sort_values(by='POKEMON_STATS',ascending=False).iloc[:20,:]

              NAME  GENERATION    TYPE1  LEGENDARY  POKEMON_STATS
461         Deoxys           3  Psychic          1          160.0
801      Aegislash           6    Steel          0          100.0
933      Pheromosa           7      Bug          1          100.0
460         Deoxys           3  Psychic          1          100.0
850          Hoopa           6  Psychic          1           88.0
486      Rampardos           4     Rock          0           87.0
425     Mega Absol           3     Dark          0           83.0
189  Mega Mewtwo X           1  Psychic          1           82.8
458  Mega Rayquaza           3   Dragon          1           80.0
657     Darmanitan           8      Ice          0           79.0
776       Greninja           7    Water          1           78.8
190  Mega Mewtwo Y           1  Psychic          1           78.8
19   Mega Beedrill           1      Bug          0           75.0
377       Sharpedo           3    Water          0           75.0
306  Mega Blaziken           3     Fire          0           74.0
419   Mega Banette           3    Ghost          0           74.0
947    Blacephalon           7     Fire          1           73.6
941       Necrozma           7  Psychic          1           70.0
670       Archeops           5     Rock          0           69.4
515      Honchkrow           4     Dark          0           69.0